body {
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: black;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px auto;
}

.theme-showcase .navbar .container {
  width: auto;
}

#gplus-output {
  color: lightgray;
}